<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = "text/css" href = "main.min.css" />
        <!-- <link rel = "stylesheet" type = "text/css" href = "main.css" /> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
        <link rel="manifest" href="assets/site.webmanifest">
    </head>
    <body>
        <div v-cloak id="app">
            <div id="overlay" v-bind:class="{ active: intro_dialog_active }"></div>
            <div id="intro-dialog" class="dialog" v-bind:class="{ active: intro_dialog_active }">
                <div class="dialog-content">
                    <div class="logo-wrapper">
                        <div>
                            <a href="https://sigtor.org/sware/docs" target="_blank">
                                <img class="logo" src="assets/sware.png" />
                            </a>
                        </div>
                    </div>
                    <p>sware is not to be used while driving and shall not be used to guarantee one's safety.</p>
                    <p>Click the logo above to visit the documentation site.</p>
                    <p>It is beta software - use at your own risk.</p>
                    <p>
                        <button id="accept-terms" v-on:click="acceptTerms()">Accept Terms</button>
                    </p>
                </div>
            </div>
            <nav>
                <div id="menu-btn" v-on:click="toggleSidebar()">☰</div>
                <div id="right-menu">
                    <div id="gps">⌖ {{ location_status }}</div>
                    <span class="divider"> | </span>
                    <div id="clock">{{ clock }}</div>
                </div>
            </nav>
            <div id="sidebar" v-bind:class="{ active: sidebar_active }">
                <div class="close-btn-wrapper">
                    <div>
                        <a href="https://sigtor.org/sware/docs" target="_blank">
                            <img class="logo" src="assets/sware.png" />
                        </a>
                    </div>
                    <div class="close-btn" v-on:click="toggleSidebar()">X</div>
                </div>
                <ol>
                    <li class="config-item" v-for="item in config_items">
                        <div class="toggle">
                            <div>{{ item.text }}</div>
                            <input type="checkbox" v-bind:id="item.id" v-bind:checked="item.toggled" />
                            <label v-bind:forHtml="item.id" v-on:click="toggleConfig(item.id)"></label>
                        </div>
                        <div id="manual-location-wrapper" v-if="item.id === 'gpsLocation' && item.toggled">
                            <div>
                                <input id="lat" type="text" required pattern="\d{2,3}\.\d{2}" v-model="config.manualLat" />
                                <div id="lat-label">Latitude, ie. 45.96</div>
                            </div>
                            <div>
                                <input id="lon" type="text" required pattern="-\d{2,3}\.\d{2}" v-model="config.manualLon" />
                                <div id="lon-label">Longitude, ie. -100.23</div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <content>
                <div id="events-pane">
                    <ol>
                        <li class="event" v-bind:class="{ selected: event.derived.selected }" v-for="event in displayEvents" v-on:click="showEventDetails(event)">
                            <div v-bind:class="{ important: event.derived.is_important, badgeTor: event.derived.is_tor_related }">
                                <div class="event-title">{{ event.title }}</div>
                                <div class="event-subtitle">
                                    <span>{{ event.derived.distance_label }}</span>
                                </div>
                            </div>
                            <div class="time-ago">{{ event.derived.time_ago }}</div>
                        </li>
                    </ol>
                </div>
                <div id="details-pane" v-bind:class="{ active: details_active }">
                    <div class="close-btn-wrapper">
                        <div>{{ details_title }}</div>
                        <div class="close-btn" v-on:click="hideDetails()">X</div>
                    </div>
                    <div>{{ details_source }}</div>
                    <div>{{ details_time }}</div>
                    <a v-if="details_link" target="_blank" v-bind:href="details_link">{{ details_link }}</a>
                    <pre>{{ details_text }}</pre>
                </div>
            </content>
        </div>
        <script src="vue.min.js"></script>
        <script src="sigtor.min.js"></script>
        <!-- <script src="index.js"></script> -->
    </body>
</html>
