/* reset */
html, body {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Needed for Safari so inputs can work */
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
/* end reset */

[v-cloak] { display: none; }

body {
    font-family: 'Roboto';
}

/* colors */
body {
    background-color: rgb(30, 30, 30);
    color: rgb(192, 192, 192);
    overflow-y: hidden;
}

/* layout */
li.event {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 0 8px;
    cursor: pointer;
}

li.event:hover, .selected {
    background-color: rgb(50, 50, 50);
}

.event-time {
    display: flex;
}

.time-ago {
    padding-left: 8px;
}

.event-subtitle {
    font-size: 12px;
}

.important {
    color: rgb(256, 256, 256);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
    border-bottom: 1px solid rgb(100, 100, 100);
}

content {
    display: flex;
}

#overlay, .dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay {
    background-color: #000;
}
#overlay.active {
    display: block;
}

.dialog.active {
    display: block;
}
.dialog-content {
    padding: 48px;
    position: fixed;
    border: 1px solid rgb(50, 50, 50);
}

.dialog-content > p {
    margin: 24px 0;
}

.logo {
    max-height: 24px;
    vertical-align: middle;
}

#events-pane {
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    width: 512px;
    flex-shrink: 0;
}

#details-pane {
    border-left: 1px solid rgb(100, 100, 100);
    padding: 8px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#details-close-btn-wrapper {
    display: none;
}

pre {
    white-space: pre-wrap;
    font-size: 14px;
}

.badgeTor {
    border-left: 4px solid red;
    padding-left: 4px;
}

/* Nav and sidebar */
#sidebar {
    position: fixed;
    top: 0px;
    left: -512px;
    opacity: 0;
    height: 100%;
    transition: all 350ms cubic-bezier(.6, .05, .28, .91);
    will-change: transform, opacity;
    background-color: rgb(30, 30, 30);
    width: 512px;
}

.shadow {
    box-shadow: 24px 0px 24px rgba(0,0,0,0.4);
}

#sidebar.active {
    left: 0px;
    opacity: 1;
    box-shadow: 24px 0px 24px rgba(0,0,0,0.4);
}

#sidebar li {
    font-size: 22px;
    padding: 0 16px;
    border-bottom: 1px solid rgb(50, 50, 50);
    min-height: 64px;
    line-height: 64px;
}

.divider {
    color: #00b8d4;
    padding: 0 16px;
}

button {
    background: #F80;
    min-width: 64px;
    font-family: Roboto;
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: 0;
}

button:hover {
    background-color: #ff6f00;
}

#right-menu {
    display: flex;
    align-items: center;
}

#menu-btn, .close-btn {
    font-size: 28px;
    cursor: pointer;
}

.logo-wrapper, .close-btn-wrapper {
    height: 64px;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: rgb(100, 100, 100);
}

/* Toggle */
.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.toggle input {
    display: none;
}
div.toggle input:checked ~ label {
    background: #6fbeb5;
}
div.toggle input:checked ~ label:after {
    left: 20px;
    background: #179588;
}
div.toggle input:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}
div.toggle input:disabled ~ label:after {
    background: #bcbdbc;
}
div.toggle label {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
div.toggle label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
div.toggle label:active:after {
    transform: scale(1.15, 0.85);
}

#manual-location-wrapper input {
    font-size: 24px;
    width: 100px;
}

input:invalid {
    border: 2px dashed red;
}

#lat-label, #lon-label {
    font-size: 12px;
    height: 16px;
    line-height: 0;
}

#manual-location-wrapper {
    height: 88px;
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 767px) {
    #sidebar {
        left: -100vw;
        width: 100vw;
    }
    #events-pane {
        width: 100vw;
    }
    #details-pane {
        width: 100vw;
        left: 100vw;
        position: fixed;
        top: 0px;
        opacity: 0;
        height: 100%;
        transition: all 350ms cubic-bezier(.6, .05, .28, .91);
        will-change: transform, opacity;
        background-color: rgb(30, 30, 30);
        box-shadow: none;
        border: none;
    }
    #details-pane.active {
        left: 0px;
        opacity: 1;
        box-shadow: 24px 0px 24px rgba(0,0,0,0.4);
        padding-top: 96px;
    }
    #details-pane > .close-btn-wrapper {
        margin-bottom: 24px;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .dialog-content {
        border: none;
    }
}

@media all and (min-width: 768px) {
    .dialog-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #details-pane > .close-btn-wrapper {
        display: none;
    }
}